<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myblog.mapper.MessageMapper">

    <insert id="insertMessage" parameterType="com.myblog.dto.MessageDTO">
        INSERT INTO message (message_id,create_time, like_count, message_user, message_content,parent_id)

        VALUES (#{messageId},#{createTime},#{likeCount},#{messageUser},#{messageContent},#{parentId})
    </insert>
</mapper>