<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myblog.mapper.UserMapper">

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.myblog.entity.User">
        INSERT INTO user (username, password, user_nickname,email,img_url, create_time,birthday,mobile_phone,level)
        VALUES (#{userName}, #{password}, #{userNickname},#{email},#{imgUrl}, #{createTime},#{birthday},#{mobilePhone},#{level})
    </insert>
</mapper>